	@font-face{
		font-family:"lth";
		src:url("../font/lth.ttf");
	}
	body{
		font-family:"lth";
		background-color: #F5F5F5;
	}
	/*顶部导航栏*/
		header{
			width:100%;
			line-height: 100px;
			overflow-x: hidden;
			background-color: #F5F5F5;
			height: 165px;
			background: url(../images/headnav.jpg) repeat-x top left;
			position: relative;
			box-shadow: 1px 1px 2px #ddd;
		}
		.kg{display: none}
		.container2{
			width:1045px;
			height:120px;
			line-height: 100px;
			position: relative;
			margin:0 auto;
			
		}
		.container1{
			width:1045px;
			height:400px;
			line-height: 100px;
			position: relative;
			margin:0 auto;
			background-color: #F5F5F5;
		}
		.logo{
			width:100px;
			height: 100px;
			line-height: 100px;
			font-size: 24px;
			font-weight: bold;
			color: #f28000;
			background-image: url(../img/logo100.png);
			position: absolute;
			top: 10%;
			right: 113%;
			cursor: pointer;

			
		}
			.nav {
			    width: 1045px;
			    height: 85px;
			    margin: 0 auto;
			    margin-top: 20px;
			    position: absolute;
			   
			    bottom: 0px;
			
			}
			.nav li {
			    float: left;
			    font-size: 14px;
			    margin-left: 30px;
			    position: relative;
			    padding-right: 10px;
			    padding-bottom: 17px;
			}
			.nav li i {
			    font-size: 12px;
			    display: block;
			    font-style: normal;
			}
			.nav1 a {
				float: left;
				height: 65px;
			    color: #41bfee;
			    position: relative;
			    text-decoration: none;
			}
			.nav2 a {
				float: left;
				height: 65px;
			    color: #87bd42;
			    position: relative;
			    text-decoration: none;
			}
			.nav3 a {
				float: left;
				height: 65px;
			    color: #f1ab3e  ;
			    position: relative;
			    text-decoration: none;
			}
			.nav4 a {
				float: left;
				height: 65px;
			    color: #eb6363;
			    position: relative;
			    text-decoration: none;
			}
			.nav5 a {
				float: left;
				height: 65px;
			    color: #63bec6;
			    position: relative;
			    text-decoration: none;
			}
			.nav6 a {
				float: left;
				height: 65px;
			    color: #b598c3;
			    position: relative;
			    text-decoration: none;
			}
			.nav7 a {
				float: left;
				height: 65px;
			    color: #e55927;
			    position: relative;
			    text-decoration: none;
			}
			.nav img{
				width:40px;
				height: 40px;
				
			}
			.name{
				width: 56px;
				position: absolute;
				line-height: 28px;
				left: 45px;
				top:10px;
			}
			.nav1.active {
			    border-bottom: 3px solid #76c5ee;
			}
		.login{
			position: absolute;
		    width: 200px;
		    right:-200px;
		    top: 23px; 
		    height: 100px;
		    line-height: 100px;
		}
		.login1{
			position: absolute;
		    right: 100px;
		    top: 30px;
		    width: 80px;
		    height: 30px;
		    line-height: 30px;
		    border: 1px solid #f28000;
		    color: #f28000 !important;
		    text-align: center;

		}
		.login1,.register,.sign_out{
			 box-sizing: border-box;
			 text-decoration:none;
		}
		.login1:hover{
			color:#fff !important;
			background-color:#f28100;
		}
		.register{
			position: absolute;
		    right: 0px;
		    top: 30px;
		    width: 80px;
		    height: 30px;
			line-height: 30px;
			background: #f28000;
		  	color: #fff !important;
		    text-align: center;
			border:1px solid #f28000;
		    
		}
		.register:hover{

			background-color: #fff;
			color: #f28000 !important;
		}
		.position{
			display: none;
			position: absolute;
			width: 25%;
			top:13%;
			right: -21%;
			height: 100px;
			line-height: 100px;
		}
		.sign_out{
			position: absolute;
		    right: 0px;
		    top: 30px;
		    width: 80px;
		    height: 40px;
		    line-height: 40px;
		    color: #f28000 !important;
			border:1px solid #f28000;
		    text-align: center;
		}
		.position img{
			position: absolute;
			left:0%;
			top:25px;
			width:50px;
			height:50px;
			cursor: pointer;
		}
		.position span{
			position: absolute;
			left:20%;
			top:25px;
			height: 50px;
			line-height: 50px;
			cursor: pointer;
		}
