.title1{
			width: 57%;
			height: 50px;
			line-height: 50px;
			background: url(../images/kb.png) no-repeat 2% center;
			box-sizing: border-box;
			padding-left: 3.5%;
			margin: 30px auto;
			border-bottom: 1px solid #2FB3FF;
			background-color: #fff;
			margin-bottom: 16px;
			-webkit-background-size: 35px;
			background-size: 35px;
			font-size: 24px;
		}

		.li{
			float: left;
		    width: 18%;
		    height: 300px;
		    position: relative;
		    border: 1px solid #ddd;
		    box-sizing: border-box;
		    margin-right: 2%;
		    cursor: pointer;		
		}
		.li:last-child{margin-right: 0;}
		.kb_img{
			position: absolute;
			left: 0px;
			top:0px;
			width:100%;
			height:40%;
		}
		.js{
			position: absolute;
			bottom: 0px;
			left: 0px;
			width:100%;
			height: 60%;
			background-color: #fff;
		}
		.kc_name,.time,.dy{
			    width: 100%;
			    line-height: 275%;
			    padding-left: 10%;
			    box-sizing: border-box;
			    font-size: 14px;
			    color: #000;
		}
		.dy{color:#ddd;}
		.te_name{
			width:100%;
			height:25%;
			line-height: 100%;
			padding-left: 5%;
			box-sizing: border-box;
			position: relative;
		}
		.te_name_img{
			width:30px;
			height: 30px;
			position: absolute;
			left:10%;
			top:16%;
			border-radius: 50%
		
		}
		.n{ 
		    position: absolute;
		    left: 35%;
		    top: 38%;
		    font-size: 16px;
		    color: #5D5555;
		}
		.syllabus{
			position: relative;
			height:355px;
			margin-top: -16px;
		}
		.more{
			height: 200px;
		    width: 30px;
		    position: absolute;
		    right: 21.6%;
    		top: 54px;
		    text-align: center;
		    line-height: 150%;
		    background: url(../images/more.png) no-repeat center 170px;
		    background-size: 60%;
		    cursor:pointer; 
		}